<div class="container">
  <button type="button"
  class="btn btn-dark btn-outline-block mt-3" routerLink="verusuarios">Regresar</button>
  <div class="jumbotron mt-2">
    <div class="row text-center">
      <div class="col-12">
        <p>Rellene todos los datos marcados como obligatorios</p>
      </div>
    </div>
    <div class="cuadro">
      <div class="row text-center">
        <div class="col-12">
          <p class="mt-2">Datos de registro</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Nombre de usuario:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              class="form-control"
              [ngClass]="{
                'is-valid': ValidarFormulario('Nickname').error == false,
                'is-invalid': ValidarFormulario('Nickname').error == true
              }"
              formControlName="Nickname"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Nickname').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Nickname").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Dirección de e-mail:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="email"
              [ngClass]="{
                'is-valid': ValidarFormulario('Email').error == false,
                'is-invalid': ValidarFormulario('Email').error == true
              }"
              formControlName="Email"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Email').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Email").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Contraseña:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="password"
              [ngClass]="{
                'is-valid': ValidarFormulario('Password').error == false,
                'is-invalid': ValidarFormulario('Password').error == true
              }"
              formControlName="Password"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Password').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Password").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Confirmar Contraseña:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="password"
              [ngClass]="{
                'is-valid': ValidarFormulario('ConfirmPassword').error == false,
                'is-invalid': ValidarFormulario('ConfirmPassword').error == true
              }"
              formControlName="ConfirmPassword"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('ConfirmPassword').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("ConfirmPassword").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
    </div>
    <div class="cuadro">
      <div class="row text-center">
        <div class="col-12">
          <p class="mt-2">Datos Personales</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Nombre y apellidos:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('NombreCompleto').error == false,
                'is-invalid': ValidarFormulario('NombreCompleto').error == true
              }"
              formControlName="NombreCompleto"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('NombreCompleto').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("NombreCompleto").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">RFC:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('RFC').error == false,
                'is-invalid': ValidarFormulario('RFC').error == true
              }"
              formControlName="RFC"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('RFC').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("RFC").message }}
          </div>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Teléfono de contacto:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
              type="tel"
              [ngClass]="{
                'is-valid': ValidarFormulario('Telefono').error == false,
                'is-invalid': ValidarFormulario('Telefono').error == true
              }"
              formControlName="Telefono"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Telefono').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Telefono").message }}
          </div>
        </div>
        <div class="col-2 obligatorio">
          <p>*</p>
        </div>
      </div>
    </div>
    <div class="cuadro">
      <div class="row text-center">
        <div class="col-12">
          <p class="mt-2">Datos Postales</p>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Dirección:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Direccion').error == false,
                'is-invalid': ValidarFormulario('Direccion').error == true
              }"
              formControlName="Direccion"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Direccion').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Direccion").message }}
          </div>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-1">
          <label class="ml-4">N°:</label>
        </div>
        <div class="col-2">
          <div class="form-group">
            <input
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Numero').error == false,
                'is-invalid': ValidarFormulario('Numero').error == true
              }"
              formControlName="Numero"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Numero').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Numero").message }}
          </div>
        </div>
        <div class="col-1" [formGroup]="formulario">
          <label class="ml-1">Colonia:</label>
        </div>
        <div class="col-2">
          <div class="form-group">
            <input
             appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Colonia').error == false,
                'is-invalid': ValidarFormulario('Colonia').error == true
              }"
              formControlName="Colonia"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Colonia').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Colonia").message }}
          </div>
        </div>
        <div class="col-1" [formGroup]="formulario">
          <label class="ml-3">Piso:</label>
        </div>
        <div class="col-2">
          <div class="form-group">
            <input
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Floor').error == false,
                'is-invalid': ValidarFormulario('Floor').error == true
              }"
              formControlName="Floor"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Floor').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Floor").message }}
          </div>
        </div>
        <div class="col-1" [formGroup]="formulario">
          <label class="ml-3">Letra:</label>
        </div>
        <div class="col-1">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Letter').error == false,
                'is-invalid': ValidarFormulario('Letter').error == true
              }"
              formControlName="Letter"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Letter').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Letter").message }}
          </div>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-2">
          <label class="ml-5">CP:</label>
        </div>
        <div class="col-3">
          <div class="form-group">
            <input
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('CodigoPostal').error == false,
                'is-invalid': ValidarFormulario('CodigoPostal').error == true
              }"
              formControlName="CodigoPostal"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('CodigoPostal').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("CodigoPostal").message }}
          </div>
        </div>
        <div class="col-2" [formGroup]="formulario">
          <label class="ml-3">Localidad:</label>
        </div>
        <div class="col-4">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Localidad').error == false,
                'is-invalid': ValidarFormulario('Localidad').error == true
              }"
              formControlName="Localidad"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Localidad').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Localidad").message }}
          </div>
        </div>
      </div>
      <div class="row" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">Continente:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <input
            appCapitalize
              type="text"
              [ngClass]="{
                'is-valid': ValidarFormulario('Continente').error == false,
                'is-invalid': ValidarFormulario('Continente').error == true
              }"
              formControlName="Continente"
              class="form-control"
            />
          </div>
          <div
            *ngIf="ValidarFormulario('Continente').error"
            class="invalid-feedback d-block mb-3 text-center"
            style="font-size: 15px;"
          >
            {{ ValidarFormulario("Continente").message }}
          </div>
        </div>
      </div>
      <div class="row mt-3" [formGroup]="formulario">
        <div class="col-4">
          <label class="ml-5">País:</label>
        </div>
        <div class="col-6">
          <div class="form-group">
            <select
              [ngClass]="{
                'is-valid': ValidarFormulario('Pais').error == false,
                'is-invalid': ValidarFormulario('Pais').error == true
              }"
              formControlName="Pais"
              class="form-control"
              >
              <option value="">Seleccione un país</option>
              <option *ngFor="let country of NameCountries" [value]="country">{{
                country
              }}</option>
            </select>
            <div
              *ngIf="ValidarFormulario('Pais').error"
              class="invalid-feedback d-block mb-3 text-center"
              style="font-size: 15px;"
            >
              {{ ValidarFormulario("Pais").message }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button
        appNgClicks
        [disabled]="formulario.invalid"
        (click)="GuardarUsuario()"
        class="btn btn-outline-dark btn-block mt-3"
        >
          Guardar Información del Usuario
        </button>
      </div>
    </div>
  </div>
</div>